body{
    background:linear-gradient(to right,#00F7FF,#FF986A)
    
}
h1{
    background-color: #B0FFFA;
    color: white;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke: 2px rgb(255,0,212);
    
}
 

h2{
    text-align: center;
    background-color:#3668b39a;
    border-radius: 10px;
    font-family: sans-serif;
    border-left: 5px solid red;
    

}

audio{
    width: 100%;
    box-shadow: 10px -10px 10px rebeccapurple;
    border-radius: 40px;
}




p{
    padding: 10px;
    background-color:#3668b39a;
    border-radius: 10px;
    font-family: sans-serif;
    border-left: 5px solid red;
    
}
.vd{
    
    padding: 50px;
    margin:10px auto;
    width: 60%;
    border: 5px solid black;
    box-shadow:10px -10px 10px rebeccapurple ;
    
    
}